.payment-form {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.payment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.payment-form button {
  background-color: #005500; /* зеленый фон */
  color: #ffffff; /* белый текст */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.payment-form button:hover {
  background-color: #003300;
}
